<?xml version="1.0" encoding="UTF-8"?>
<xingcloud:config xmlns:xingcloud="http://www.iw.com/sns/config/">
<!-- 数据存储配置文件 -->
<!-- 本地测试时使用MYSQL数据库 -->
<mysql>
	<!-- MYSQL服务器主机名或IP地址 -->
	<host>127.0.0.1</host>
	<!-- MYSQL服务器端口 -->
	<port>3306</port>
	<!-- 用户名 -->
	<user>root</user>
	<!-- 密码 -->
	<password></password>
	<!-- 数据库名称 -->
	<database>test</database>
	<!-- 无需更改 -->
	<instance_id>zoo</instance_id>
</mysql>
 <!--
<data_proxy>
	<instance_id>zoo</instance_id>
	<location>10.18.138.234</location>
</data_proxy>
 -->
</xingcloud:config>
